/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    /*    box-sizing: border-box;*/
}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}

/*Nawigacja*/
nav.hamburger i {
    display: none;
}

nav.hamburger div {
    display: none;
}

nav.pc {
    max-width: 1440px;
    margin: 30px auto;
    text-align: right;
}

nav.pc a {
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    padding: 10px;
    margin: 0 20px;
}

nav.pc a.reservation {
    padding: 10px 30px;
    border: 2px solid #555;
    margin-right: 50px;
    margin-left: 80px;
    font-size: 2.2rem;
    letter-spacing: 1px;
    transition: 0.2s;
}

nav.pc a:hover {
    border-bottom: 2px solid #555;
    color: #000;
}

nav.pc a.reservation:hover {
    background-color: royalblue;
    color: #eee;
    border-color: royalblue;
}

@media (max-width: 900px) {
    nav.pc a {
        font-size: 1.6rem;
        margin: 0 10px;
    }

    nav.pc a.reservation {
        margin-right: 20px;
        margin-left: 50px;
        font-size: 2rem;
    }
}

@media (max-width: 690px) {
    nav.pc {
        display: none;
    }

    nav.hamburger i {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        padding: 10px;
        border: 2px solid #000;
        border-radius: 50%;
        background-color: #fff;
        color: #000;
        font-size: 20px;

    }


}

/*Header*/

header {
    height: 40vh;
    background-image: url(pictures/auto2.jpg);
    background-size: cover;
}

header h1 {
    font-size: 6rem;
    color: #fff;
    text-align: center;
    line-height: 40vh;
    background-color: rgba(0, 0, 0, 0.5)
}

@media (max-width: 510px) {
    header {
        height: 60vh;
    }

    header h1 {
        padding-top: 10vh;
        font-size: 8rem;
        line-height: 25vh;
    }
}

@media (max-width: 388px) {
    header {
        height: 60vh;
    }

    header h1 {
        padding-top: 0;
        font-size: 8rem;
        line-height: 20vh;
    }
}

@media (max-width: 294px) {
    header h1 {
        font-size: 6rem;
    }
}

/*Main*/

main {
    max-width: 1440px;
    margin: 5vh auto;
    font-size: 0;
}

main p.description {
    font-size: 2.2rem;
    text-align: center;
    margin: 5vh 30px;
    line-height: 180%;
}

main div.feature {
    box-sizing: border-box;
    display: inline-block;
    width: calc(80%/3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 5%;
}

main div.feature div {
    height: 200px;
    margin: 0 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    opacity: 0.85;
    transition: 1s;
}

main div.feature:hover div {
    background-size: 120%;
    opacity: 1;
}

main div.image1 {
    background-image: url(pictures/toolbox-2645700_1280.jpg);
}

main div.image2 {
    background-image: url(pictures/master-1904748_1280.jpg);
}

main div.image3 {
    background-image: url(pictures/trapped-1582002_1280.jpg);
}

main h2 {
    font-size: 2rem;
    text-align: center;
    color: #222;
    padding-bottom: 15px;
}

@media (max-width: 1024px) {
    main div.feature div {
        background-size: 140%;
    }

    main div.feature:hover div {
        background-size: 140%;
    }
}

@media (max-width: 768px) {

    main {
        margin: 3vh auto 10vh auto;
    }

    main p.description {
        font-size: 1.8rem;
        margin: 3vh 30px;
    }

    main div.feature div {
        background-size: cover;
        opacity: 1;
    }

    main div.feature:hover div {
        background-size: cover;
    }

    main h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    main div.feature {
        display: block;
        width: 80%;
        margin: 3vh auto;
    }
}

@media (max-width: 510px) {
    main div.feature {
        width: 100%;
    }
}

@media (max-width: 360px) {
    main {
        margin: 2vh auto 7vh auto;
    }

    main p.description {
        font-size: 1.7rem;
        margin: 2vh 30px;
    }

    main div.feature {
        margin: 2vh auto;
    }
}


/*Stopka*/

footer p {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}

@media (max-width: 1024px) {
    footer p {
        font-size: 1.6rem;
        line-height: 8vh;
    }
}

@media (max-width: 768px) {
    footer p {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        line-height: normal;
        font-size: 1.5rem;
    }
}

@media (max-width: 510px) {
    footer p {
        font-size: 1rem;
    }
}

@media (max-width: 340px) {
    footer p {
        font-size: 0.8rem;
    }
}